.DS_Store
log/*
tmp/*
db/schema.rb
db/schema.sql
public/system
index/*
db/*.sqlite3
log/*
!/log/.keep
/tmp
biodiv.tmproj
public/cache/*
biodiv.sublime-project
biodiv.sublime-workspace
vendor/rails/*

config/application.yml
config/database.yml
