body {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.618em;
  text-rendering: optimizeLegibility; }
  body a, body a:visited, body a:focus {
    border-bottom: 1px dotted #007e64;
    color: #007e64;
    text-decoration: none; }

#container {
  position: relative;
  width: 960px;
  margin: 0 auto; }
  #container header {
    margin: 1.618em 0 2.62em 0; }
    #container header h1 {
      background: transparent url(/images/UNIGE50.png) no-repeat top left;
      padding-left: 185px; }
      #container header h1 a {
        border: 0;
        text-decoration: none; }
        #container header h1 a em {
          display: block;
          font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
          font-size: 1.618em;
          font-weight: normal;
          line-height: 1.2em; }
        #container header h1 a span {
          font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
          font-size: 4.2em;
          line-height: 1.2em; }
    #container header #lang {
      float: right;
      text-align: right; }
  #container #content {
    border-bottom: 1px dotted #007e64; }
    #container #content p#contacts {
      margin: 1.618em 0;
      padding: 0; }
    #container #content section {
      margin-bottom: 2.62em; }
      #container #content section h1 {
        font-family: "ff-netto-web-1", "ff-netto-web-2", sans-serif;
        font-size: 1.618em;
        line-height: 1.2em;
        margin-bottom: 1em; }
      #container #content section .group img {
        display: block;
        float: left;
        margin-right: 20px; }
      #container #content section .group .group h1 {
        lin-height: 1em;
        margin-bottom: 20px; }
      #container #content section .group .group img {
        background: blue;
        display: block;
        float: left;
        margin-right: 20px; }
      #container #content section .group .group p {
        float: left;
        width: 340px; }
  #container footer {
    text-align: center;
    margin: 1.618em 0; }
