.row
  .col-md-12
    %h3= project.name
    %p
      = link_to project.laboratory.name, project.laboratory.url
      %br= link_to project.laboratory.institute.name, project.laboratory.institute.url
      =raw project.laboratory.address.gsub("\n", "<br />")
    = raw project.description_html
