.modal-header
  %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Close"}}
    %span{aria: {hidden: "true"}} &times;
  %h3.modal-title
    = @project.name
    %br
    %small
      = link_to "permalink", @project
.modal-body
  %p
    = link_to @project.laboratory.name, @project.laboratory.url
    - if @project.laboratory.address
      %br=raw @project.laboratory.address
  =raw @project.description_html
.modal-footer
  = link_to project_path(@project, format: :pdf), type: "button", class: "btn btn-primary", target: "_blank" do
    %i.fa.fa-file-pdf-o
    Downlad as PDF
