.row
  .col-md-12
    %h3= @project.name
    %p
      = link_to @project.laboratory.name, @project.laboratory.url
      - if @project.laboratory.address
        %br=raw @project.laboratory.address
    = raw @project.description_html
