a.unige_logo
  display: block
  +replace-text-with-dimensions("UNIGE200.png", 170, 49)
  border: 0
  &:hover, &:active
    border: 0

.container .jumbotron, .container-fluid .jumbotron
  background: white
  font-family: $font-family-title
  // padding-left: 0
  // padding-right: 0
  margin-bottom: 0
  // padding-top: 0
  h1
    color: $biogreen
    margin-top: 10px
    small
      color: $biogreen-lighter
  a, a:hover, a:active
    border: 0
    text-decoration: none

@media (max-width: $screen-sm-min)
  .container .jumbotron, .container-fluid .jumbotron
    text-align: center

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
  // .container .jumbotron, .container-fluid .jumbotron
  //   background: white
  //   font-family: $font-family-title
  //   padding-left: 0
  //   padding-right: 0
  //   margin-bottom: 0

@media (max-width: $screen-md-min)
  .container .jumbotron, .container-fluid .jumbotron
    padding-left: 0
    padding-right: 0

// /* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)

// // Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min)

// @media (min-width: $screen-xlg-min)
//   background-color: orange
