$dropcap-float-position: left !default
$dropcap-font-size: 4em !default
$dropcap-font-family: inherit !default
$dropcap-txt-indent: 0 !default
$dropcap-margin: 10px 10px 0 0 !default
// $dropcap-margin: 10px 10px 0 0 !default
$dropcap-padding: 0 10px !default
// $dropcap-padding: 0 20px !default
$dropcap-color: inherit !default
$dropcap-line-height: 1 !default
$dropcap-bg: transparent !default

=dropcap($float-position, $font-size, $font-family, $txt-indent, $margin, $padding, $color, $line-height, $bg)
  &:first-letter
    float: $float-position
    margin: $margin
    padding: $padding
    font-size: $font-size
    font-family: $font-family
    line-height: $line-height
    text-indent: $txt-indent
    background: $bg
    color: $color

=add_fontawesome_before($icon)
  @extend .fa
  @extend .fa-#{$icon}
  &:before
    padding-right: 0.3em

=add_fontawesome_after($icon)
  font-family: inherit !important
  &:after
    @extend .fa
    @extend .fa-#{$icon}:before
    padding-left: 0.3em

=add_glyphicon_before($icon)
  @extend .glyphicon-#{$icon}
  &:before
    padding-right: 0.3em
    @extend .glyphicon
    font-size: 1em

=add_glyphicon_after($icon)
  &:after
    @extend .glyphicon-#{$icon}:before
    padding-left: 0.3em
    @extend .glyphicon
    font-size: 0.65em


h1, h2, h3, h4, h5
  color: $biogreen
  font-family: $font-family-title

a, a:hover, a:active, a:visited
  color: $biogreen
  text:
    decoration: none
  border-bottom: 1px dotted
  transition: color 0.5s ease
a:hover
  color: $biogreen-lighter

.well
  a
    border-bottom: 0

.drop-cap
  +dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg)


// =add_fontawesome_before($icon)
//   @extend
//   &:before
//     padding-right: 0.3em
//     @extend .glyphicon

a
  &:not(.img-link)[href^="http:"]
    +add_glyphicon_after("new-window")
    // // @extend .icon-music
    // img
    //   background-image: none
    // &.link_to_more
    //   background-image: none
    //   border: 0
  &[href^="mailto:"]
    +add_glyphicon_before("envelope")
  &[href*=".pdf"]
    background: url('/assets/icons/pdf.png') no-repeat right center
    padding: 2px 18px 2px 0
  &[href*=".doc"]
    background: url('/assets/icons/doc.png') no-repeat right center
    padding: 2px 18px 2px 0
  // &[href*=".rss"]
  //   +add_glyphicon_before("rss")
  &[href*=".rdf"]
    background: url('/assets/icons/feed.png') no-repeat right center
    margin: -2px 0
    padding: 2px 22px 2px 0
  &[href*=".xls"]
    +add_glyphicon_before("list-alt")
  &[href*=".csv"]
    +add_glyphicon_before("list-alt")
  &[href*=".ics"]
    +add_glyphicon_before("calendar")
//   &:focus
//     -moz-outline: none
//     outline: none
// .highlight
//   background: #ff0
